
// variavies

:root {
    --fundo-padrao: rgba(0, 0, 0, 0.3);
    --padrao: rgb(20, 20, 20);

    --fundo-padrao-reverso: rgb(200, 200, 200);
    --padrao-reverso: rgb(190, 190, 190);   

    --cor: purple;
    --sombra: none;
}

$fundo-padrao: var(--fundo-padrao);
$cor-padrao: var(--padrao);

$fundo-padrao-reverso: var(--fundo-padrao-reverso);
$cor-padrao-reversa: var(--padrao-reverso);

$cor: var(--cor);
$sombra: var(--sombra);

// funções

@function addict($array, $key, $value) {
    @return map-merge($array, ($key : $value));
}

@mixin boxSize($height, $width, $padding: no, $margin: no) {
    @if $height != no {
        height: $height;
    }
    @if $width != no {
        width: $width;
    }
    @if $padding != no {
        padding: $padding;
    }
    @if $margin != no {
        margin: $margin;
    }
}

@mixin flex($direction: row, $aling: center, $justfy: space-between, $gap: 0) { 
    display: flex;
    gap: $gap;

    @if $direction == column {
        flex-direction: column;
    } @else if $direction == column-reverse {
        flex-direction: column-reverse;
    } @else if $direction == row {
        flex-direction: row;
    } @else if $direction == row-reverse {
        flex-direction: row-reverse;
    } @else {
        background-color: red;
        content: '[ERRO]';
    }

    @if $aling == center {
        align-items: center;
    } @else {
        background-color: red;
        content: '[ERRO]';
    }

    @if $justfy == space-between {
        justify-content: space-between;
    } @else if $justfy == space-around {
        justify-content: space-around;
    } @else if $justfy == space-evenly {
        justify-content: space-evenly;
    } @else if $justfy == right {
        justify-content: right;
    } @else if $justfy == left {
        justify-content: left;
    } @else if $justfy == center {
        justify-content: center;
    } @else {
        background-color: red;
        content: '[ERRO]';
    }
}

@mixin position($position, $top: no, $bottom: no, $left: no, $right: no) {
    position: $position;
    @if $top != no {
        top: $top;
    } 
    @if $bottom != no {
        bottom: $bottom;
    }
    @if $left != no {
        left: $left;
    }
    @if $right != no {
        right: $right;
    }
}
